<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's Gift List</title>
</head>
<body>
    <h1>Gifts:</h1>

    <ul>
        { % for query in queryset % }

        <li>{{ query }}</li>

        { % endfor % }
    </ul>

    <h1>Would you like to add a gift?</h1>
    <form action="/" method="post">
        {% csrf_token %}
        New Gift: <input type="text" name="newGift">
    </form>
</body>
</html>