<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>
        Username: <input type="text" name="username">
        <p/>
        <p>
        Password: <input type="password" name="password">
        <p/>
        <input type="submit">
    </form>

    <p>Register on the <a href="registration">Registration Page</a> if you are not yet registered. </p>
</body>
</html>