<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
     <form action="/" method="post">
         {% csrf_token %}
         <p>
         Username: <input type="text" name="username" pattern=".{,10}" title="10 or less characters">
         <p/>
         <p>
         Password: <input type="password" name="password" pattern=".{6,}" title="Six or more characters">
         <p/>
         <p>
         E-mail: <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
         <p/>
         <input type="submit"/>
    </form>
    <label id = "displayErrorMessage">{{errorMessage}}</label>
</body>
</html>