<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>List of User Wish Lists:</h1>

    <ul>
        { % for query in queryset % }

        <li>{{ query }}</li>

        { % endfor % }
    </ul>

</body>
</html>